* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #2158FC;
    font-size: 40px;
}

#menu {
    display: flex;
    gap: 100px;
}

a {
    text-decoration: none;
    color: #000000;
}

h2 {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 32px;
    text-align: center;
}

#img__clientes {
    display: flex;
    margin-bottom: 5%;
}

.img__empresas {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

img {
    width: 20%;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 2%;
}

#depoimentos li {
    margin-bottom: 10px;
}

p {
    font-size: 24px;
}

.dell {
    color: lightblue;
}

.microsoft {
    color: blue;
}

.netflix {
    color: red;
}

.ubuntu {
    color: orange;
}

.whatsapp {
    color: greenyellow;
}

